NUXT_PILOT_BASE_URL=
NUXT_PILOT_API_KEY=
NUXT_PUBLIC_NEXUS_ORIGIN=
PILOT_NEXUS_INTERNAL_ORIGIN=
PILOT_NEXUS_BRIDGE_SECRET=
PILOT_COOKIE_SECRET=
PILOT_SESSION_COOKIE_MAX_AGE_SEC=86400
PILOT_ALLOW_LEGACY_HEADER_AUTH=false
PILOT_ALLOW_LEGACY_BEARER_AUTH=false
PILOT_ALLOW_LEGACY_COOKIE_AUTH=true
